<div class="tile_word_row">
    @for (tile of wordTiles; track $index) {
        <app-tile-icon
            [tileData]="tile"
            (leftclick)="removeTileFromWord($event)" 
            (openInfo)="openModal($event)"
        ></app-tile-icon>
    }
</div>
<div class="tile_hand_row">
    @for (tile of unusedTiles; track $index) {
        <app-tile-icon
            [tileData]="tile"
            (leftclick)="addTileToWord($event)" 
            (openInfo)="openModal($event)"
        ></app-tile-icon>
    }
</div>
<div class="controls_div">
    <button
        (click)="submitWord()"
        >Submit
    </button>
</div>
<app-info-modal
    [x]="modalX"
    [y]="modalY"
    [visible]="infoVisible"
    [tile]="selectedTile">
</app-info-modal>